.DS_Store
.dSYM
*.i
*.s
*.o

fork1
fork2
fork3
forkbomb
exec1
exec2
exec_display
exec_convert
write_html
index.html
photo_out.jpg
pid
pid2
pipe
killer
hello
hello-static
mystery1
uid
probe
address32
address64
malloc_mystery
space
defunct
sf
threads0
threads1
threads2
atm
thread_atm
thread_spy
ipt
sync_lock
sync_lock_tests
sync_cvar
sync_sem
sync_grand_demo
rand_test
